<div class="container d-grid">
  <div class="row">
    <div class="col-12 col-sm-10">
      <h4 class="">Filters
      </h4>
      <form>
        <div>
          {{!-- ////////////////// FROM ////////////////////////////////// --}}
          <label class="px-2 col-10" for="from">From:</label>
          <input class="px-2 from" type="date" id="from" name="from" />
          {{!-- ////////////////// TO ////////////////////////////////// --}}
          <label class="px-2" for="to">To:</label>
          <input class="px-2 to" type="date" id="to" name="to" />
          {{!-- //////////////////  CURRENCY //////////////////////////// --}}
          <div class="form-check" >
            <input
              class="form-check-input ms-3 "
              name="flexRadioDefault"
              type="radio"
              value="USD"
              id="flexRadioDefault1"
              checked
            />
            <label class="form-check-label ms-1" for="flexRadioDefault1">
              US Dollar ($)
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input ms-3"
              name="flexRadioDefault"
              type="radio"
              value="EUR"
              id="flexRadioDefault2"
            />
            <label class="form-check-label ms-1" for="flexRadioDefault2">
              EUR (€)
            </label>
            {{!-- //////////////////  BUTTON //////////////////////////// --}}
            <input class="mx-3 btn btn-primary text-white" id="button" type="submit" />
          </div>
        </div>
      </form>
    </div>
    <div class="col-2 text-end">
      <h4 class="">Values
      </h4>
      <h5>
        Max: <h5 id="min"></h5>
      </h5>
      <h5>
        Max: <h5 id="max"></h5>
      </h5>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <canvas id="myChart"></canvas>
</div>